@model MusicStore.ViewModels.StoreIndexVM

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Browse Genres</h2>
    <p>Select from @Model.NumberOfGenres genres</p>
    <ul>
        @foreach (var genre in Model.Genres)
        {
            <li>
                @genre
            </li>
        }

    </ul>
</body>
</html>
